html{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
main{
    padding: 20px;
}
.space{
    width: 100%;
    height: 50px;
}

.nav-container{
    left: 0px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1000;
    border-bottom: solid 1px;
    padding: 10px;
    background-color: rgb(24, 24, 15);

    
}
.logo{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    border-radius: 50%;
    background-image: url("/Asset/Logo-RevoU-5.png");
    background-size: cover;
}
nav a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: 1px solid;
    border-color: rgba(142, 145, 131, 0.534);
    color: rgb(222, 223, 220);
    text-decoration: none;
    transition: all 500ms ease-in-out 0s;
    
    
}
nav a:hover{
    
    color: rgb(161, 161, 9);
    padding-top: 15px;
    padding-bottom: 15px;
}
.Massage{
    margin-right: 10px;
}
.gambar{
    width: 100%;
    height: 500px;
    border: 1px solid;
}
.our-profile{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    


}
.profile{
   text-align: center;
   text-align:-webkit-center;
   flex: 1;
   margin-left: 30px;
    
  
}
.profile1{
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 50%;
    
 
}
.jarak{
    flex: 2;
}
.achievment{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    
}

.achievment-container{
    text-align: center;
    text-align:-webkit-center;
    border: solid 1px;
    padding: 21px;
    border-radius: 10%;

}

.line{
    border: 1px solid;
    border-color: rgb(219, 224, 214);
}

.picture-achievment{
    width: 100px;
    height: 100px;
    border: solid 1px;
    border-radius: 50%;
}
.text{
    width: 200px;
    font-size: 13;
}
